<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form-style.css') }}">
</head>
<body>
    <div class="main">
       <h1>Covid-19</h1>
       <div class="input-form">
        <form action="{{ url_for('covidpred')}}" method="post">

            <div class="fever">
                <label for="fever">
                    Fever :
                    <input type="text" name="fever" required>
                </label>
            </div>

            <div class="bodypain">
                <label for="bodypain">
                    Body pain :
                    <input type="text" name="bodypain" required>
                </label>
            </div>

            <div class="age">
                <label for="age">
                    Age :
                    <input type="text" name="age"required>
                </label>
            </div>

            <div class="runny_nose">
                <label for="runny_nose">
                     Runny_nose :
                    <input type="text" name="runny_nose" required>
                </label>
            </div>

            <div class="diffbreath">
                <label for="diffbreath">
                    Diffbreath :
                    <input type="text" name="diffbreath" required>
                </label>
            </div>
            <button type="submit">Submit</button>
         </form>
       </div>
    </div>
    <div class="container themed-container"><h1 style="text-align: center;color:black; font-size:2vmax; ">{{ans}}</h1></div>
    <p style="text-align: center; color:black;font-size:1vmax;">Click <a href="https://en.wikipedia.org/wiki/COVID-19">here</a> to learn more about Covid-19 Disease</p>
    <p style="text-align: center;color:black;font-size:1vmax;">&copy;MediPred.com</p>
    </div>
    </div>
</body>
</html>