<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form-style.css') }}">
    
</head>
<body>
    <div class="main">
       <h1>Heart Disease</h1>
       <div class="input-form">
        <form action="{{ url_for('heartpred')}}" method="post">

            <!-- 1 -->
            <div class="age">
                <label for="age">
                    Age :
                    <input type="text" name="age" type="number" required>
                </label>
                </div>

                <!-- 2 -->
            <div class="sex">
                <label for="sex">
                    Sex :
                    <br/>
                    <p>[ 1 for male and 0 for female ]</p>
                    <input type="text" name="sex" required>
                </label>
            </div>

            <!-- 3 -->
            <div class="cp">
                <label for="cp">
                    Chest Pain :
                    <br/>
                    <p><ul>
                        <li>[ 0 : Typical angina ]</li>
                        <li>[ 1 : Atypical angina ]</li>
                        <li>[ 2 : Non-anginal pain ]</li>
                        <li>[ 3 : Asymptomatic ]</li>
                    </ul></p>
                    <input type="number" name="cp" required>
                </label>
            </div>

            <!-- 4 -->
            <div class="trestbps">
                <label for="trestbps">
                    Blood Pressure :
                    <input type="text" name="trestbps" required>
                </label>
            </div>

            <!-- 5 -->
            <div class="chol">
                <label for="chol">
                     Cholestoral :
                    <input type="text" name="chol" required>
                </label>
            </div>

            <!-- 6 -->
            <div class="fbs">
                <label for="fbs">
                    Blood Sugar :
                    <br/>
                    <p>[(Fasting blood Sugar > 120) [ 1 for True and 0 for False] ]</p>
                    <input type="text" name="fbs" required>
                </label>
            </div>

            <!-- 7 -->
            <div class="restecg">
                <label for="restecg">
                    Electrocardiographic Results :
                    <br/>
                    <p><ul>
                        <li>[ 0 : Normal ]</li>
                        <li>[ 1 : Having ST-T wave abnormality ]</li>
                        <li>[ 2 : Showing left ventricular hypertrophy ]</li>
                    </ul></p>
                    <input type="text" name="restecg" required>
                </label>
            </div> 

            <!-- 8 -->
            <div class="thalach">
                <label for="thalach">
                    Heart Rate :
                    <input type="text" name="thalach" type="number" required>
                </label>
            </div>

            <!-- 9 -->
            <div class="exang">
                <label for="exang">
                    Exercise induced Angina :
                    <br/>
                    <p>[ 1 for True and 0 for False ]</p>
                    <input type="text" name="exang" type="number" required>
                </label>
            </div>

            <!-- 10 -->
            <div class="oldpeak">
                <label for="oldpeak">
                    ST Depression :
                    <input type="text" name="oldpeak" type="number" required>
                </label>
            </div>
            <!-- 11 -->
            <div class="slope">
                <label for="slope">
                   Slope of ST segment :
                    <br/>
                    <p><ul>
                        <li>[ 0 : Unsloping ]</li>
                        <li>[ 1 : Flat ]</li>
                        <li>[ 2 : Downsloping ]</li>
                    </ul></p>
                    <input type="text" name="slope" required>
                </label>
                </div>
           
            <!-- 12 -->
             <div class="ca">
                <label for="ca">
                    Number of major vessels :
                    <input type="text" name="ca" type="number" required>
                </label>
            </div>

                <!-- 13 -->
                <div class="thal">
                    <label for="thal">
                       Thal :
                        <br/>
                        <p><ul>
                            <li>[ 0 : Normal ]</li>
                            <li>[ 1 : Fixed  ]</li>
                            <li>[ 2 : Downsloping ]</li>
                        </ul></p>
                        <input type="text" name="thal" required>
                    </label>
                </div>
                <button type="submit">Submit</button>
             </form>
           </div>
        </div>
        <div class="container themed-container"><h1 style="text-align: center; color:black; font-size:2vmax;">{{ans}}</h1></div>
        <p style="text-align: center; color:black;font-size:1vmax; ">Click <a href="https://en.wikipedia.org/wiki/COVID-19">here</a> to learn more about Heart Disease</p>
        <p style="text-align: center; color:black; font-size:1vmax;">&copy;MediPred.com</p>
        </div>
        </div>
    </body>
    </html>